@layer reset {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* balance text wrap for blocks of text*/
  p,
  li {
    text-wrap: pretty;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture,
  video {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
}

@layer base {
  :root {
    /*colors*/
    --love: hsla(58, 100%, 60%, 1);
    --inspo: orange;
    --self: skyblue;
    --ego: hsla(0, 100%, 40%, 1);
    --home: hsla(142, 100%, 37%, 1);
    --earth: hsla(37, 100%, 32%, 1);
    --base: slategrey;
    --bottom: 1px solid black;
    --dark: black;

    .love {
      background-color: var(--love);
    }
    .self {
      background-color: var(--self);
    }
    .ego {
      background-color: var(--ego);
    }
    .earth {
      background-color: var(--earth);
    }
    .inspo {
      background-color: var(--inspo);
    }
    .home {
      background-color: var(--home);
    }

    /*base*/
    --c-cname-500: white;

    /*typography*/
    /*todo: learn how to self host font*/

    /*font family*/
    /*font size*/

    /*border styles (radius, line style, width)*/
    --test-border: 3px dashed var(--ego);
    --test-border-alt: 3px dashed var(--self);
  }

  html {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
  }

  body {
    font-size: xx-large;
    color: white;
    background-color: var(--base);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: Helvetica, sans-serif;
    color: white;
  }

  h1 {
    text-align: center;
  }

  a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }

  a:hover,
  a:focus-visible {
    color: yellow;
  }

  .back {
    text-align: center;
    display: block;
  }

  img,
  video {
    max-height: 50vh;
  }
}

@layer layout {
  main {
    margin-inline: 5rem;
  }
}

@layer utility {
  /*for screen reader to make links more accessible*/
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .hidden {
    display: none;
  }

  .centerText {
    text-align: center;
  }

  .container {
    margin-inline: 5rem;
  }

  .underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }

  .border {
    border: var(--test-border);
  }
}

@layer header {
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--test-border);
    img {
      height: 200px;
    }
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    li {
      list-style-type: none;
      a {
        border: var(--test-border);
        text-decoration: none;
      }
    }
  }
}

@layer footer {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    button {
      padding: 0.5rem;
      border-radius: 10px;
    }
    .play {
      height: 2rem;
      width: 2rem;
    }
  }
  .startContainer {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
    border: none;
    background-color: inherit;
  }

  .playArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@layer index {
  .thingTitle {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }

  .madeContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 5rem;
  }

  .introContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .aka {
    display: flex;
    justify-content: space-around;
  }
}

@layer dock {
  .whoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .who {
    display: grid;
    place-items: center;
    border: var(--test-border);
    text-align: center;
    padding: 0.5rem;
  }

  .whoSelected {
    border: 3px solid var(--self);
  }

  .goTo {
    border-radius: 15px;
    border-style: groove;
    padding: 0.3rem;
    background-color: var(--self);
    color: var(--dark);
  }

  .siteDesc {
    background-color: var(--love);
    display: inline;
    color: black;
    padding: 0.5rem;
  }

  .mainNav {
    padding-top: 1rem;
  }

  .vs {
    display: grid;
    place-items: center;
  }

  .vsSelector {
    background: none;
    border: none;
    color: black;
    display: flex;
    gap: 1rem;
  }

  .characters {
    display: flex;
    gap: 3rem;
  }
}

@layer past {
  .archive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }
  .selectedArchive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }

  .pastThing {
    border: var(--test-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
    place-items: center;
  }

  .selected {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    border: 3px solid var(--self);
  }

  .pastBtn {
    background-color: inherit;
    color: inherit;
  }

  .artifactContainer {
    border: 3px solid var(--self);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 3rem;
    justify-content: center;
    /*
    margin-bottom: 0.5rem;*/
  }
}

@layer about {
  .about {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p span {
      border: var(--test-border);
      padding-inline: 0.5rem;
    }

    h3 {
      text-align: right;
    }
  }
}

@layer archive {
  .artifactSelectors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .archiveItemBtn {
    border: 3px solid var(--inspo);
    padding-inline: 0.5rem;
    background-color: inherit;
    color: inherit;
  }

  .selectedArchiveItem {
    background-color: inherit;
    border: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: inherit;
  }

  .artifactItemContainer {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
  }
}

@layer fullArchive {
  .yearSelectorContainer {
    display: grid;
    place-content: center;
    padding-bottom: 1rem;
    text-align: center;
  }

  .yearSelectors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .yearSelector {
    background: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    box-shadow: 10px 10px 5px var(--self);
  }

  .yearSelector:hover {
    box-shadow: 10px 10px 5px var(--ego);
  }

  .yearSelector:active {
    border: var(--test-border-alt);
  }

  .archiveArtifactContainer {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .artifact {
    border: var(--test-border);
    border-radius: 10px;
    text-align: center;
    background: none;
    color: var(--inspo);
    box-shadow: 10px 10px 5px var(--self);
  }

  .artifact:hover {
    box-shadow: 10px 10px 5px var(--ego);
  }

  .artifact:active {
    border: var(--test-border-alt);
  }

  .artifactSelected {
    border: 5px solid var(--self);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    place-items: center;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@layer present {
  .blogSelector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .presentThing {
    border: var(--test-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }

  .presentBtn {
    background-color: inherit;
    color: inherit;
  }

  .presentSelected {
    border: 3px solid var(--inspo);
  }
}

@layer blog {
  .studiesContainer {
    padding-block: 1rem;
  }
  .blogDisplay {
    padding-block: 1rem;
    display: grid;
    /*justify-items: center;*/
    place-items: center;
  }

  .jukeContainer {
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 1rem;
  }

  .jukeSelectors {
    display: flex;
    gap: 0.5rem;
  }

  .jukeSelector {
    border: 3px solid var(--self);
  }

  .selectedJukeSelector {
    border: 3px solid var(--ego);
  }

  .playlist {
    width: 75%;
    text-align: center;
  }
}

@layer jukebox {
  .trackSelector {
    background-color: inherit;
    color: inherit;
    border: 3px solid var(--love);
    border-radius: 10px;
  }

  .selectedTrack {
    border: 3px dashed var(--ego);
  }
}

@layer play {
  .playNav {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }
}
