@layer base {
    :root {
        --love: yellow;
        --inspo: orange;
        --self: skyblue;
        --ego: red;
        --home: green;
        --earth: hsla(37, 100%, 22%, 1);
        --base: slategrey;

        --font: 3rem;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        background-color: var(--base);
        color: var(--self);
        font-size: var(--font);
    }

    h1 {
        background: var(--home);
    }

    button {
        border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 15px;
        font-size: var(--font);
        margin: 0;
        color: var(--love);
        background-color: var(--earth);
        box-shadow: 0px 10px 5px black;
        transition: transform 0.2s;
        transition: box-shadow 0.2s 0.3s;
    }

    button:active {
        transform: translateY(10%);
    }

    .clicked {
        box-shadow: 0px 10px 5px var(--ego);
    }

    marquee {
        padding-bottom: 1rem;
    }
}

@layer sections {
    nav {
        background-color: var(--self);
    }

    main {
        background-color: var(--inspo);
        color: var(--love);
        display: grid;
        grid-template-columns: 1fr;
    }
}

@layer media {
    .mediaType {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
    }

    .medBtn {
        padding: 1rem;
    }

    .playSelect {
        display: flex;
        justify-content: center;
    }

    .recSelect {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        padding: 1rem;
    }

    .mediaDisplay {
        background-color: var(--ego);
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    iframe {
        border: none;
    }
}

@layer footer {
    footer {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
    .palette {
        height: 3rem;
        width: 3rem;
    }

    .love {
        background-color: var(--love);
    }
    .inspo {
        background-color: var(--inspo);
    }
    .self {
        background-color: var(--self);
    }
    .ego {
        background-color: var(--ego);
    }
    .home {
        background-color: var(--home);
    }
    .earth {
        background-color: var(--earth);
    }
}
